body {
  height: 100vh;
  background: #1f001f;
  color: white;
}

/*navbar */
.navbar {
  background-color: #32034af2;
}

.lorem {
  padding-right: 2.0em;
  color: white;
  font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
  font-size: 81.25%
}

.form-control {
  border-radius: 50px;
}

#user {
  width: 30px;
  margin-left: 10px;
}

#shopping {
  width: 30px;
  margin-left: 10px;
}

/*Icon fav*/
.fav {
    width: 25px;
    margin-left: 4%;
}

*Text-info*/
.text {
    font-size: 16px;
}

/*Text-info*/
.text {
  font-size: 16px;
}

#btn {
  border-radius: 50px;
}

/*List*/
.list {
  list-style: none;
}

.list li {
  position: relative;
  font-size: 12px;
}

.list li:before {
  content: "-";
  position: absolute;
  left: -20px;
  display: block;
}

.img-preview {
  position: relative;
}

.img-preview:before, .img-preview:after {
  content: "";
  width: 35px;
  height: 35px;
  display: block;
  position: absolute;
  top: 20%;
  background-color: #3b194f;
}

.img-preview:before {
  left: -10px;
}

.img-preview:after {
  right: -10px;
}

.product-list {
  list-style: none;
}

.product-list li {
  position: relative;
  margin-bottom: 10px;
}

.product-list li:before {
  content: "-";
  position: absolute;
  left: -20px;
  display: block;
}

/*Info wrapper*/
.info-wrapper .info-icon {
  width: 20%;
  background-size: contain;
  background-repeat: no-repeat;
}

.info-wrapper .info-icon.red {
  background-image: url("../assets/form1.svg");
}

.info-wrapper .info-icon.cyan {
  background-image: url("../assets/form2.svg");
}

.info-wrapper .info-icon.purple {
  background-image: url("../assets/form3.svg");
}

.info-wrapper .info-icon.yellow {
  background-image: url("../assets/form4.svg");
}

.info-wrapper .info-icon .info-data {
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}

  /*Card*/
  .card {
    margin-top: 12%;
    border: 20px;
    bottom: 40px;
  }
  .card-text {
      color: black;
  }